*{
	padding:0;
	margin:0;
}
body{
	background-image:url(8k.jpg);
	background-size: 100% 760px;
}
.posicao{
	right: -9%;
	top: 8px;
	width: 440px;
	height: 350px;
	border: 2px solid #000;
	float: left;
	position:relative;
	border-radius: 15px;
	background-color: #DCDCDC;
	font-family:Arial, Helvetica, sans-serif;
	opacity: 0.8;
}
h1{
	text-align: center;
}
.position{
	position: relative;
	left:100px;
	width: 250px;
}
#elemento{
	top:500px;
	border:1px solid #FF0000; 
	width:80px; 
	height:80px;
	position:relative;
}
.posicao1{
	right: -9%;
	top: 10px;
	width: 440px;
	height: 217px;
	border: 2px solid #000;
	float: left;
	position:relative;
	border-radius: 10px;
	opacity: 0.8;
	background-color: #DCDCDC;
}